:root {
    --primary: #222831;
    --light-primary: #393E46;
    --secondary: #FFD369;
    --light: #EEEEEE;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif
}
body {
    background-color: var(--primary);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    height: 100px;
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary);
    padding-top: 15px;
}

header img {
    margin-left: 30px;
    fill: var(--secondary);
    height: 70px;
}

.main-random_michis {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

h2{
    text-align: start;
    margin-bottom: 50px;
    color: var(--light);
    font-size: 3rem;
}

.random-button {
    position: relative;
    width: 250px;
    height: 60px;
    background-color: var(--light-primary);
    border: none;
    border-radius: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--secondary);
    padding-left: 65px;
    text-align: start;
    cursor: pointer;
    align-self: center;
    transition-duration: 400ms;
}

.random-button span {
    position: absolute;
    bottom: 30px;
    font-size: 5rem;
    margin-left: 20px;
    line-height: 1rem;
}

.random-button:hover {
    padding-left: 90px;
    width: 300px; 
    background-color: var(--secondary);
    color: var(--primary);
}

.random-button:active {
    padding-left: 90px;
    width: 300px; 
    background-color: var(--secondary);
    color: var(--primary);
}

.michi-cards-container {
    margin: 0 auto;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));;
    margin-bottom: 40px;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
}

.michi-card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 240px;
    width: 240px;
    margin-bottom: 40px;
    border-radius: 10px;
    align-items: center;
    border-radius: 30px;
    background: var(--light-primary);
    transition-duration: 400ms;
    box-shadow:  20px 20px 60px #1d222a, -20px -20px 60px #272e38;
}

.michi-card:hover {
    border: solid 5px var(--light-primary);
}


.michi-card img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.michi-card button {
    position: absolute;
    bottom: 20px;
    width: 50%;
    height: 40px;
    background-color: var(--secondary);
    border: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
    transition-duration: 400ms;
}

.michi-card button:hover {
    background-color: var(--secondary);
    width: 70%; 
}
.michi-card button:active {
    border: solid 2px var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}

.main-favourite-michis {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-favourite-michis article {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 240px;
    width: 240px;
    margin-bottom: 40px;
    border-radius: 10px;
    align-items: center;
    border-radius: 30px;
    background: var(--light-primary);
    transition-duration: 400ms;
    box-shadow:  20px 20px 60px #1d222a, -20px -20px 60px #272e38;
}

.main-favourite-michis article:hover {
    border: solid 5px var(--light-primary);
}

.main-favourite-michis img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-favourite-michis button {
    position: absolute;
    bottom: 20px;
    width: 50%;
    height: 40px;
    background-color: #D35D6E;
    border: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
    transition-duration: 400ms;
}

.main-favourite-michis button:hover {
    width: 70%; 
}

.main-favourite-michis button:active {
    border: solid 2px #D35D6E;
    background-color: var(--primary);
    color: #D35D6E;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-top: solid 1px var(--light-primary);
    font-size: 1.8rem;
    color: var(--light);
    text-align: center;
}

a {
    color: var(--secondary);
}

.footer_social-media .icon{
    position: relative;
    background-color: var(--secondary);
    border-radius: 30%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}
.footer_social-media .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: var(--secondary);
    color: var(--secondary);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer_social-media .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: var(--secondary);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer_social-media .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.footer_social-media .icon:hover span,
.footer_social-media .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer_social-media .facebook:hover,
.footer_social-media .facebook:hover .tooltip,
.footer_social-media .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}
.footer_social-media .twitter:hover,
.footer_social-media .twitter:hover .tooltip,
.footer_social-media .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}
.footer_social-media .instagram:hover,
.footer_social-media .instagram:hover .tooltip,
.footer_social-media .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}
.footer_social-media .github:hover,
.footer_social-media .github:hover .tooltip,
.footer_social-media .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}
.footer_social-media .linkedin:hover,
.footer_social-media .linkedin:hover .tooltip,
.footer_social-media .linkedin:hover .tooltip::before {
    background-color: #0072b1;
    color: #ffffff;
}

#file{
    position: absolute;
    visibility: hidden;
}
.preview-container {
    display: none;
    position: relative;
    width: 260px;
    height: 260px;
    margin-top: 40px;
}
#preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow:  20px 20px 60px #1d222ab7, -20px -20px 60px #272e38ab;
    border-radius: 15px;
    transition-duration: 400ms;
    border: solid 2px var(--light-primary);
}

.preview-delete-button {
    position: absolute;
    top: 5px;
    right: 32px;
    border-radius: 30%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    color: #d35d6fa2;
    cursor: pointer;
}
.preview-delete-button:hover {
    color: #D35D6E;
}
.image-info {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, var(--primary), var(--primary), var(--primary), #ffffff00);
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding-top: 19px;
    color: var(--secondary);
    border: solid 2px var(--light-primary);
    border-top: none;
}

.upload-section{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--light-primary);
    border-radius: 10px;
    margin-bottom: 40px;
}

#uploadingForm{
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
#upload-label{
    border-radius: 15px;
    color: var(--light);
    background-color: var(--light-primary);
    padding: 30px 15%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition-duration: 400ms;
    border: dotted 3px var(--primary);
    margin-bottom: 30px;
}
#upload-label span{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}
  
#upload-label i {
    margin-top: 10px;
    font-size: 5rem;
    text-align: center;
}
  
#upload-label:hover{
    color: var(--secondary);
    padding: 35px 20%;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#uploadingDog{
    margin-top: 20px;
}

.share-button {
    width: 350px;
    height: 40px;
    background-color: var(--secondary);
    border: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
    transition-duration: 400ms;
}

.share-button:hover {
    border: solid 2px var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    width: 400px;
}

.background-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #393e46a2;
}
.loader {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 8px solid var(--light-primary); /* Light grey */
    border-top: 8px solid var(--secondary); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.upload-status {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #5AA469;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    text-align: center;
    color: var(--light);
    font-size: 2rem;
    padding-top: 30px;
    transition-duration: 400ms;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


  @media (max-width: 600px) {
    footer {
        display: grid;
        height: 150px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
  }